**/CMakeFiles
**/CMakeCache.txt
**/cmake_install.cmake


# IDE-specific files.
**/Debug
**/Release
**/RelWithDebInfo
**/MinSizeRel
**/x64
**/.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vscode/
.history/
**/ashlang.dir

*.code-workspace